extends layout 

block content 
    h1= title 
    article 
        p This is a simple web application buiild using Node.js and Express.js and basic HTML/CSS. 
        p We have APIs for 3 Pages: Home, About and API.
        p Home Page contains Greeting Message, API contains list of items and You're reading About Page!!